In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("sp100_stocks_data.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Columns: 865 entries, Unnamed: 0 to ETN.8
dtypes: object(865)
memory usage: 1.7+ MB

In [5]:
df.head()

,Unnamed: 0,AAPL,AAPL.1,AAPL.2,AAPL.3,AAPL.4,AAPL.5,AAPL.6,AAPL.7,AAPL.8,...,GM.8,ETN,ETN.1,ETN.2,ETN.3,ETN.4,ETN.5,ETN.6,ETN.7,ETN.8
0,Price,Close,High,Low,Open,Volume,Daily Return,Cumulative Return,20d Volatility,20d MA,...,20d MA,Close,High,Low,Open,Volume,Daily Return,Cumulative Return,20d Volatility,20d MA
1,Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,NaN,NaN,NaN,NaN,...,NaN,ETN,ETN,ETN,ETN,ETN,NaN,NaN,NaN,NaN
2,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-10-07,220.66302490234375,224.6444949275546,220.30469199255066,223.46000516495792,39505400,NaN,NaN,NaN,NaN,...,NaN,330.3575439453125,331.03873663136307,325.97423019504726,326.6060431901453,1465900,NaN,NaN,NaN,NaN
4,2024-10-08,224.72412109375,224.9331397600325,222.21579078164237,223.2609296773624,31855700,0.018404062906341112,1.0184040629063411,NaN,NaN,...,NaN,331.2953796386719,333.4376868415106,328.7779494945961,332.2036465497211,1136500,0.002838850544047533,1.0028388505440475,NaN,NaN

In [6]:
df = pd.read_csv("sp100_stocks_data.csv", header=3)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Columns: 865 entries, Date to Unnamed: 864
dtypes: float64(773), int64(91), object(1)
memory usage: 1.7+ MB

In [8]:
df.head()

,Date,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 855,Unnamed: 856,Unnamed: 857,Unnamed: 858,Unnamed: 859,Unnamed: 860,Unnamed: 861,Unnamed: 862,Unnamed: 863,Unnamed: 864
0,2024-10-07,220.663025,224.644495,220.304692,223.460005,39505400,NaN,NaN,NaN,NaN,...,NaN,330.357544,331.038737,325.974230,326.606043,1465900,NaN,NaN,NaN,NaN
1,2024-10-08,224.724121,224.933140,222.215791,223.260930,31855700,0.018404,1.018404,NaN,NaN,...,NaN,331.295380,333.437687,328.777949,332.203647,1136500,0.002839,1.002839,NaN,NaN
2,2024-10-09,228.476669,228.685703,223.788496,224.186637,33591100,0.016698,1.035410,NaN,NaN,...,NaN,333.931305,334.533502,330.446376,331.196682,1103600,0.007956,1.010818,NaN,NaN
3,2024-10-10,227.978989,228.436864,226.117656,226.724831,28183500,-0.002178,1.033154,NaN,NaN,...,NaN,332.638031,333.516652,328.442294,331.117685,1281000,-0.003873,1.006903,NaN,NaN
4,2024-10-11,226.495880,228.347264,226.286846,228.237773,31759200,-0.006505,1.026433,NaN,NaN,...,NaN,337.031219,337.613683,331.611294,332.697256,1162000,0.013207,1.020201,NaN,NaN

In [34]:
raw = pd.read_csv("sp100_stocks_data.csv", header=None)
raw.head(6)

,0,1,2,3,4,5,6,7,8,9,...,855,856,857,858,859,860,861,862,863,864
0,NaN,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,...,GM,ETN,ETN,ETN,ETN,ETN,ETN,ETN,ETN,ETN
1,Price,Close,High,Low,Open,Volume,Daily Return,Cumulative Return,20d Volatility,20d MA,...,20d MA,Close,High,Low,Open,Volume,Daily Return,Cumulative Return,20d Volatility,20d MA
2,Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,NaN,NaN,NaN,NaN,...,NaN,ETN,ETN,ETN,ETN,ETN,NaN,NaN,NaN,NaN
3,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-10-07,220.66302490234375,224.6444949275546,220.30469199255066,223.46000516495792,39505400,NaN,NaN,NaN,NaN,...,NaN,330.3575439453125,331.03873663136307,325.97423019504726,326.6060431901453,1465900,NaN,NaN,NaN,NaN
5,2024-10-08,224.72412109375,224.9331397600325,222.21579078164237,223.2609296773624,31855700,0.018404062906341112,1.0184040629063411,NaN,NaN,...,NaN,331.2953796386719,333.4376868415106,328.7779494945961,332.2036465497211,1136500,0.002838850544047533,1.0028388505440475,NaN,NaN

In [35]:
tickers = raw.iloc[0]
fields  = raw.iloc[1]

In [36]:
final_cols = ['Date']   # Date forcefully first
last_field = None

for t, f in zip(tickers[1:], fields[1:]):  # column 1 se start
    if pd.notna(f):
        last_field = f

    if pd.isna(t) or pd.isna(last_field):
        final_cols.append(None)
    else:
        final_cols.append(f"{t}_{last_field}")

In [37]:
data = raw.iloc[4:].copy()
data.columns = final_cols

In [38]:
data = data.loc[:, data.columns.notna()]

In [39]:
data['Date'] = pd.to_datetime(data['Date'])
data = data.sort_values('Date').reset_index(drop=True)

In [40]:
data.head()[['Date', 'AAPL_Close']]
data.columns[:10]

Index(['Date', 'AAPL_Close', 'AAPL_High', 'AAPL_Low', 'AAPL_Open',
       'AAPL_Volume', 'AAPL_Daily Return', 'AAPL_Cumulative Return',
       'AAPL_20d Volatility', 'AAPL_20d MA'],
      dtype='object')

In [41]:
data.head()

,Date,AAPL_Close,AAPL_High,AAPL_Low,AAPL_Open,AAPL_Volume,AAPL_Daily Return,AAPL_Cumulative Return,AAPL_20d Volatility,AAPL_20d MA,...,GM_20d MA,ETN_Close,ETN_High,ETN_Low,ETN_Open,ETN_Volume,ETN_Daily Return,ETN_Cumulative Return,ETN_20d Volatility,ETN_20d MA
0,2024-10-07,220.66302490234375,224.6444949275546,220.30469199255066,223.46000516495792,39505400,NaN,NaN,NaN,NaN,...,NaN,330.3575439453125,331.03873663136307,325.97423019504726,326.6060431901453,1465900,NaN,NaN,NaN,NaN
1,2024-10-08,224.72412109375,224.9331397600325,222.21579078164237,223.2609296773624,31855700,0.018404062906341112,1.0184040629063411,NaN,NaN,...,NaN,331.2953796386719,333.4376868415106,328.7779494945961,332.2036465497211,1136500,0.002838850544047533,1.0028388505440475,NaN,NaN
2,2024-10-09,228.47666931152344,228.68570318762718,223.78849648056692,224.1866374402548,33591100,0.016698466544265322,1.0354098490793264,NaN,NaN,...,NaN,333.9313049316406,334.53350213618296,330.44637633215,331.1966824749318,1103600,0.007956420327514424,1.0108178579597373,NaN,NaN
3,2024-10-10,227.97898864746094,228.43686442668115,226.11765609380726,226.72483093793394,28183500,-0.0021782559486803743,1.0331544614162471,NaN,NaN,...,NaN,332.6380310058594,333.51665202672496,328.44229401550086,331.11768493117773,1281000,-0.003872874171069407,1.0069030875859895,NaN,NaN
4,2024-10-11,226.49588012695312,228.34726430462075,226.28684626691359,228.23777327090536,31759200,-0.006505461443208849,1.0264333149026246,NaN,NaN,...,NaN,337.0312194824219,337.613682872437,331.6112941488704,332.6972556081936,1162000,0.01320711424150156,1.0202013716938583,NaN,NaN

In [42]:
stocks = sorted(
    set(col.split('_')[0] for col in data.columns if col != 'Date')
)

In [45]:
len(stocks)
stocks[:10]

['AAPL', 'ABBV', 'ACN', 'ADBE', 'ADI', 'ADP', 'AMD', 'AMGN', 'AMT', 'AMZN']

In [46]:
data.shape

(251, 865)

In [47]:
data.to_csv("clean_sp100_data.csv", index=False)

In [48]:
data.head()

,Date,AAPL_Close,AAPL_High,AAPL_Low,AAPL_Open,AAPL_Volume,AAPL_Daily Return,AAPL_Cumulative Return,AAPL_20d Volatility,AAPL_20d MA,...,GM_20d MA,ETN_Close,ETN_High,ETN_Low,ETN_Open,ETN_Volume,ETN_Daily Return,ETN_Cumulative Return,ETN_20d Volatility,ETN_20d MA
0,2024-10-07,220.66302490234375,224.6444949275546,220.30469199255066,223.46000516495792,39505400,NaN,NaN,NaN,NaN,...,NaN,330.3575439453125,331.03873663136307,325.97423019504726,326.6060431901453,1465900,NaN,NaN,NaN,NaN
1,2024-10-08,224.72412109375,224.9331397600325,222.21579078164237,223.2609296773624,31855700,0.018404062906341112,1.0184040629063411,NaN,NaN,...,NaN,331.2953796386719,333.4376868415106,328.7779494945961,332.2036465497211,1136500,0.002838850544047533,1.0028388505440475,NaN,NaN
2,2024-10-09,228.47666931152344,228.68570318762718,223.78849648056692,224.1866374402548,33591100,0.016698466544265322,1.0354098490793264,NaN,NaN,...,NaN,333.9313049316406,334.53350213618296,330.44637633215,331.1966824749318,1103600,0.007956420327514424,1.0108178579597373,NaN,NaN
3,2024-10-10,227.97898864746094,228.43686442668115,226.11765609380726,226.72483093793394,28183500,-0.0021782559486803743,1.0331544614162471,NaN,NaN,...,NaN,332.6380310058594,333.51665202672496,328.44229401550086,331.11768493117773,1281000,-0.003872874171069407,1.0069030875859895,NaN,NaN
4,2024-10-11,226.49588012695312,228.34726430462075,226.28684626691359,228.23777327090536,31759200,-0.006505461443208849,1.0264333149026246,NaN,NaN,...,NaN,337.0312194824219,337.613682872437,331.6112941488704,332.6972556081936,1162000,0.01320711424150156,1.0202013716938583,NaN,NaN

In [49]:
# first & last dates
data[['Date']].head(), data[['Date']].tail()

(        Date
 0 2024-10-07
 1 2024-10-08
 2 2024-10-09
 3 2024-10-10
 4 2024-10-11,
           Date
 246 2025-10-01
 247 2025-10-02
 248 2025-10-03
 249 2025-10-06
 250 2025-10-07)

In [51]:
# NaN count per column (top 15 dikha)
data.isna().sum().head(50)

Date                        0
AAPL_Close                  0
AAPL_High                   0
AAPL_Low                    0
AAPL_Open                   0
AAPL_Volume                 0
AAPL_Daily Return           1
AAPL_Cumulative Return      1
AAPL_20d Volatility        20
AAPL_20d MA                19
MSFT_Close                  0
MSFT_High                   0
MSFT_Low                    0
MSFT_Open                   0
MSFT_Volume                 0
MSFT_Daily Return           1
MSFT_Cumulative Return      1
MSFT_20d Volatility        20
MSFT_20d MA                19
AMZN_Close                  1
AMZN_High                   1
AMZN_Low                    1
AMZN_Open                   1
AMZN_Volume                 1
AMZN_Daily Return           2
AMZN_Cumulative Return      2
AMZN_20d Volatility        21
AMZN_20d MA                20
GOOGL_Close                 0
GOOGL_High                  0
GOOGL_Low                   0
GOOGL_Open                  0
GOOGL_Volume                0
GOOGL_Daily Return          1
GOOGL_Cumulative Return     1
GOOGL_20d Volatility       20
GOOGL_20d MA               19
GOOG_Close                  0
GOOG_High                   0
GOOG_Low                    0
GOOG_Open                   0
GOOG_Volume                 0
GOOG_Daily Return           1
GOOG_Cumulative Return      1
GOOG_20d Volatility        20
GOOG_20d MA                19
BRK-B_Close                 0
BRK-B_High                  0
BRK-B_Low                   0
BRK-B_Open                  0
dtype: int64